.main{
    padding: 1rem;
}

.main__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
}

.main__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: .3s ease-in-out;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--text);
    padding: .5rem 2rem;
    color: grey;
}

.main__button h1{
    color: var(--light-blue);
}

.main__button:hover{
    transform: scale(105%);
}

