.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}

.up{
    z-index: 2;
}