.header{
    padding: 2rem;
    background-color: var(--light-blue);
    color: var(--text);
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.right{
    display: flex;
    gap: 1rem;
    border: 2px solid var(--text);
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.right:hover{
    transform: scale(105%);
}

